// Typography
$font-stack: "Roboto", sans-serif;
$title-font: "Oswald", sans-serif;

$base-font-size: 14px;
$base-line-height: 1.7;


// Colors
$primary-color: #fc0247;
$secondery-color: #fa004a;
$text-color: #8d939f;
$dark: #030409;

