// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	.top-full {
	  	padding-top: 75px;
	}
	.bottom-full {
	  	padding-bottom: 75px;
	}
	.top-half {
	  	padding-top: 50px;
	}
	.bottom-half {
	  	padding-bottom: 50px;
	}
	.col-length-3:nth-last-child(-n+2),
	.col-length-6:nth-last-child(-n+5) {
		margin-top: 30px;
	}
	.site-header {
		padding: 20px 0;
	}
	.navbar-brand {
	  	left: 15px;
	}
	.navbar-collapse {
	  	padding: 0 15px 15px;
	}
	.navbar-nav {
		max-height: 300px;
		overflow: auto;
		padding-top: 15px;
		> li > a {
	    	padding: 10px 0;
		  	&::before {
		  		left: 0;
		  	}
		}
		.submenu {
		  	border-left: 2px solid $primary-color;
		  	border-top: 0 none;
		  	display: none;
		  	padding: 10px 10px 10px 15px;
		  	position: relative;
		  	@include transition(all 0s ease 0s);
		  	@include transform(scaleY(1));
		  	> li > a {
		  	  	margin-bottom: 15px;
		  	}
		}
	}
	.header-sticky {
		.navbar-nav > li > a {
	    	padding: 10px 0;
	    }
	}
	.main-banner-2 {
		.row {
		    height: 80vh;
		    padding-top: 40px;
		}
		h2 {
		    font-size: 45px;
		}
	}
	.page-header {
	  	padding: 150px 0 120px;
	  	h1 {
	  		font-size: 28px;
	  	}
	}
	.blog-post figcaption {
		padding: 15px;
		width: 100%;
	}
	#widget-area {
		margin-top: 100px;
	}
	#contact-form {
		margin-top: 50px;
	}
	.watermark-title {
		display: none;
	}
	.video-button {
	    position: static;
	    margin: 40px;
	    @include transform(none);
	    .play-icon {
	    	@include transform(none);
	    }
	}
	.post-nav {
		margin-top: 20px;
		text-align: left !important;
	}
	.comments-type {
		display: flex;
		flex-direction: column;
	}
	.comment-heading {
	  	display: block;
	  	span {
	  		display: block;
	  		margin-left: 0;
	  		margin-top: 6px;
	  	}
	}
	.comment-author-bio .title-font {
	  	text-align: left !important;
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.buttons-group .btn-bottom-border {
		padding: 16px 20px 18px;
	}
	.banner-content {
	  	height: 380px;
	  	h3 {
	  		font-size: 25px;
	  	}
	  	p {
	  		font-size: 10px;
	  	}
	  	.caption1 {
	  	  	left: calc(50% - 52px);
	  	  	top: 245px;
	  	  	p {
	  	  	  	margin: 9px 0 0 -10px;
	  	  	  	text-align: left;
	  	  	}
	  	}
	  	.caption2 {
	  	  	right: calc(50% - 25px);
	  	  	top: calc(50% + 80px);
	  	  	p {
	  	  		bottom: 13px;
	  	  		right: -62px;
	  	  		top: -5px;
	  	  	}
	  	}
	}
	.section-heading h2 {
	  	font-size: 28px;
	}
	.trainer-bio > .col-12:last-child,
	.col-length-4:nth-last-child(-n+2),
	.col-length-3:last-child,
	.col-length-2:last-child {
		margin-top: 30px;
	}
	.footer-nav li a {
		padding: 0 5px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	// generated by js
	.col-length-3:last-child,
	.col-length-6:nth-last-child(-n+4) {
		margin-top: 30px;
	}
	.col-length-4:nth-child(2),
	.col-length-4:nth-child(3) {
	  margin-bottom: 30px;
	}
	.site-header {
		padding: 20px 0;
	}
	.primary-nav {
	  	padding-bottom: 10px;
	}
	.navbar-nav {
		max-height: 300px;
		overflow: auto;
		> li > a {
	  		padding: 10px 0;
		  	&::before {
		  		left: 0;
		  	}
		}
		.submenu {
		  	border-left: 2px solid $primary-color;
		  	border-top: 0 none;
		  	display: none;
		  	padding: 10px 10px 10px 15px;
		  	position: relative;
		  	@include transition(all 0s ease 0s);
		  	@include transform(scaleY(1));
		  	> li > a {
		  	  	margin-bottom: 15px;
		  	}
		}
	}
	.header-sticky {
		.navbar-nav > li > a {
	    	padding: 10px 0;
	    }
	}
	.banner-content {
		height: 42vh;
	}
	.banner-content {
		h3 {
			font-size: 60px;
		}
		.caption1 {
			@include calc('left', '50% - 110px');
			@include calc('top', '50% + 40px');
		}
		.caption2 {
			@include calc('right', '50% - 115px');
			@include calc('top', '50% + 89px');
		}
	}
	.video-button {
		display: none;
	}
	.main-banner-2 .row {
	    height: 80vh;
	    padding-top: 40px;
	}
	.trainer-slider {
		.slick-arrow {
			bottom: 0;
			height: 50px;
		}
		.slick-prev {
			left: auto;
		  	right: 65px;
		}
		.slick-next {
		  	left: auto;
		  	right: 0;
		}
	}
	.trainer-bio {
		.buttons-group {
			margin-top: 50px;
		}
		.btn-bottom-border {
			padding: 8px 20px 10px;
		}
	}

	#bmi-calc-form {
	    margin-top: 50px;
	}
	.bmi-man {
		bottom: -90px;
	}
	.blog-post figcaption {
	  	width: 70%;
	}
	.blog-image img {
	    width: 100%;
	}
	#widget-area {
		margin-top: 100px;
	}
	.widget-title::after {
	    left: 330px;
	}
	.watermark-title {
		font-size: 200px;
	}
	#about .watermark-title {
	    left: -80px;
	}
	#our-services .watermark-title {
	    right: -80px;
	}
	#our-trainers .watermark-title {
	    left: -180px;
	}
	#our-pricing .watermark-title {
	    right: -140px;
	}
	.site-footer {
	    padding-bottom: 60px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.section-arrow {
	  	padding: 140px 0 190px;
	}
	.banner-content {
		h3 {
			font-size: 80px;
		}
		.caption1 {
			@include calc('left', '50% - 145px');
			@include calc('top', '50% + 35px');
		}
		.caption2 {
			@include calc('right', '50% - 150px');
			@include calc('top', '50% + 100px');
		}
	}
	#fire-flame canvas {
	    margin-top: 0;
	}
	.video-button.right {
	  	right: -70px;
	}
	.main-banner-2 {
		.video-button {
			display: none;
		}
	}
	.home-2-slide-2 {
		.banner-2-content {
			margin-bottom: 70px;
		}
		h2 {
	    	font-size: 58px;
	    }
	}
	.home-2-slide-3 .banner-2-woman.left {
	    max-width: 45%;
	}
	.trainer-bio .btn-bttom-border {
	  	padding: 13px 35px 15px;
	}
	.watermark-title {
		font-size: 200px;
	}
	#about .watermark-title {
	    left: -80px;
	}
	#our-services .watermark-title {
	    right: -80px;
	}
	#our-trainers .watermark-title {
	    left: -180px;
	}
	#our-pricing .watermark-title {
	    right: -140px;
	}
	.widget-title {
	    padding-left: 20px;
	    &::after {
	    	left: 137px;
	    }
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.col-length-6:nth-last-child(-n+3) {
		margin-top: 30px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1201px) and (max-width: 1599.98px) {
	.watermark-title {
		font-size: 300px;
	}
	#about .watermark-title {
	    left: -130px;
	}
	#our-services .watermark-title {
	    right: -135px;
	}
	#our-trainers .watermark-title {
	    left: -240px;
	}
	#our-pricing .watermark-title {
	    right: -210px;
	}
}
@media (max-width: 414px) {
	.btn {
	    padding: 13px 45px 15px;
	}
	.section-full {
	    padding: 100px 0;
	}
	.navbar-brand img {
	  	max-width: 80%;
	}
	.banner-content {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		.man-desktop,
		[class^="caption"] {
			display: none;
		}
		.caption-mobile {
			display: block;
			z-index: 10;
			position: relative;
		}
		h3 {
			font-size: 32px;
		}
		p {
			font-size: 16px;
		}
	}
	#fire-flame canvas {
	  	margin-top: 0;
	}
	.video-button {
		display: none;
	}
	.section-heading {
		.gradient-text {
			display: none;
		}
	}
	.section-arrow {
	  	padding: 100px 0 80px;
	}
	.trainer-slider {
		padding-bottom: 80px;
		.slick-arrow {
	  		bottom: 0;
	  		height: 55px;
	  	}
	  	.slick-next {
	  		margin-right: 10px;
	  	}
	  	.slick-next {
	  		margin-left: 10px;
	  		margin-right: 0;
	  	}
	}
	.trainer-bio h3 {
	    font-size: 22px;
	}
	.service-item img {
	  	width: 100%;
	}
	#bmi-calc-form {
		button {
			margin-bottom: 30px;
			padding: 14px 20px 13px;
			width: 100%;
		}
		span.text-white {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
		.bmi-result {
		  	padding: 8px 29px 11px 30px;
		}
		.flex {
			display: block;
		}
	}
	.bmi-man {
	  	bottom: -70px;
	}
	.item-card-blog {
		figcaption {
	  		position: relative;
	  	}
	  	.blog-tags {
	  		display: block;
	  	}
	}
	.footer-top-shape {
	  	margin-bottom: 40px;
	}
	.footer-nav {
	  	@include flex-wrap(wrap);
	}
	.error-404 {
		padding: 100px 0;
		.row {
	    	height: auto;
	    }
	}
	.error-message-404 img {
	  	max-width: 100%;
	}
}
@media (max-width: 480px) and (orientation: landscape)  {
	.btn {
	    padding: 13px 45px 15px;
	}
	.section-arrow {
	    padding: 120px 0 130px;
	}
	.navbar-nav {
	    max-height: 210px;
	}
	.banner-content {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		.man-desktop,
		[class^="caption"] {
			display: none;
		}
		.caption-mobile {
			display: block;
			z-index: 10;
			position: relative;
		}
		h3 {
			font-size: 32px;
		}
		p {
			font-size: 16px;
		}
	}
	#fire-flame canvas {
	  	margin-top: 0;
	}
	.video-button {
		display: none;
	}
	.main-banner-2 .row {
	    height: 100vh;
	}
	.home-2-slide-1,
	.home-2-slide-3 {
		.banner-tag {
			display: none;
		}
		h2 {
			font-size: 28px;
		}
		p {
			margin-bottom: 15px;
		}
	}
	.home-2-slide-2 {
		.banner-2-content {
			max-width: 305px;
			h2 {
				font-size: 40px;
			}
		}
	}
	.section-heading {
		.gradient-text {
			display: none;
		}
	}
	.trainer-slider {
		padding-bottom: 80px;
		.slick-arrow {
	  		bottom: 0;
	  		height: 55px;
	  	}
	  	.slick-next {
	  		margin-right: 10px;
	  	}
	  	.slick-next {
	  		margin-left: 10px;
	  		margin-right: 0;
	  	}
	}
	.footer-logo {
	  	margin-top: 40px;
	}
	.bmi-man {
		bottom: -125px;
	}
	.service-item img {
	  	width: 100%;
	}
	.widget-title::after {
	    left: 216px;
	}
	.error-404 {
		padding: 100px 0;
		.row {
	    	height: auto;
	    }
	}
	.error-message-404 img {
	  	max-width: 100%;
	}
}